#### Dictionaries - Exercises

In [ ]:
# 1. Create an empty dictionary called dogs
dogs = {}
print(dogs)

{}

In [ ]:
# 2. Add name, color, breed, legs, age to the dog dictionary
dogs["name"] = "dayana"
dogs["color"] = "white"
dogs["legs"] = 4
dogs["age"] = 2
dogs["breed"] = "golden retriever"
print(dogs)

{'name': 'dayana', 'color': 'white', 'legs': 4, 'age': 2, 'breed': 'golden retriever'}

In [ ]:
# 3. Create a student dictionary and add first_name, last_name, gender, age,
    # marital status, skills, country, city and address as keys for the dictionary
student = {
  "first name" : "Abhijith",
  "last name" : "Anirudhan",
  "gender": "male",
  "age": 27,
  "marital status" : "Unmarried",
  "skills" : ["python", "data analysis"],
  "country" : "Indian",
  "city" : "Kochi",
  "Address" : "Padinjare vailekkat"  }
print(student)

{'first name': 'Abhijith', 'last name': 'Anirudhan', 'gender': 'male', 'age': 27, 'marital status': 'Unmarried', 'skills': ['python', 'data analysis'], 'country': 'Indian', 'city': 'Kochi', 'Address': 'Padinjare vailekkat'}

In [ ]:
# 4. Get the length of the student dictionary

print("length", len(student))

length 9

In [ ]:
# 5. Get the value of skills and check the data type, it should be a list
skills = student["skills"]
print("skills:", skills)
print("data types of skills ", type(skills))

skills: ['python', 'data analysis']
data types of skills  <class 'list'>

In [ ]:
# 6. Modify the skills values by adding one or two skills
student["skills"].extend(["machine learning", "Critical thinking", "SQL"])
print(skills)

['python', 'data analysis', 'machine learning', 'Critical thinking', 'SQL']

In [ ]:
# 7. Get the dictionary keys as a list
keys_list = list(student.keys())
print("keys as list: ", keys_list)

keys as list:  ['first name', 'last name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'Address']

In [ ]:
# 8. Get the dictionary values as a list
values_list = list(student.values())
print("values as list: ", values_list)

values as list:  ['Abhijith', 'Anirudhan', 'male', 27, 'Unmarried', ['python', 'data analysis'], 'Indian', 'Kochi', 'Padinjare vailekkat']

In [ ]:
# 9. Change the dictionary to a list of tuples using items() method
student_items = list(student.items())
print("list of tuples: ", student_items)

list of tuples:  [('first name', 'Abhijith'), ('last name', 'Anirudhan'), ('gender', 'male'), ('age', 25), ('marital status', 'Unmarried'), ('skills', ['python', 'data analysis']), ('country', 'Indian'), ('city', 'Kochi'), ('Address', 'Padinjare vailekkat')]

In [ ]:
# 10. Delete one of the items in the dictionary
del student["age"]
print("updated dictionary: ", student)

updated dictionary:  {'first name': 'Abhijith', 'last name': 'Anirudhan', 'gender': 'male', 'marital status': 'Unmarried', 'skills': ['python', 'data analysis', 'machine learning', 'Critical thinking', 'SQL'], 'country': 'Indian', 'city': 'Kochi', 'Address': 'Padinjare vailekkat'}

In [ ]:
# 11. Delete one of the dictionaries
del student
print(student)

NameError: name 'student' is not defined