### Exercises: Tuples

In [ ]:
# 1. Create an empty tuple
empty_tuple = tuple()
print(empty_tuple)

()

In [ ]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ("Amaljith", "Dev")
sisters = ("Aadhithya","Akhila")
print("sisters:", sisters)
print("brothers: ", brothers)

sisters: ('Aadhithya', 'Akhila')
brothers:  ('Amaljith', 'Dev')

In [ ]:
# 3. Join brothers and sisters tuples and assign it to siblings
brothers = ("Amaljith", "Dev")
sisters = ("Aadhithya","Akhila")
siblings = brothers + sisters
print(siblings)

('Amaljith', 'Dev', 'Aadhithya', 'Akhila')

In [ ]:
# 4. How many siblings do you have?
brothers = ("Amaljith", "Dev")
sisters = ("Aadhithya","Akhila")
siblings = brothers + sisters
print("number of siblings ", len(siblings))

number of siblings  4

In [ ]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

brothers = ("Amaljith", "Dev")
sisters = ("Aadhithya","Akhila")
father = "Anirudhan"
mother = "Ambika"
siblings = brothers + sisters
family_members = siblings + (father, mother)
print(family_members)

('Amaljith', 'Dev', 'Aadhithya', 'Akhila', 'Anirudhan', 'Ambika')

In [ ]:
# 6. Unpack siblings and parents from family_members
family_members = ('Amaljith', 'Dev', 'Aadhithya', 'Akhila', 'Anirudhan', 'Ambika')
*siblings, father, mother = family_members
print(siblings)
print(father)
print(mother)

['Amaljith', 'Dev', 'Aadhithya', 'Akhila']
Anirudhan
Ambika

In [ ]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and
# assign it to a variable called food_stuff_tp.
fruits = ("apple", "blueberry", "avocado", "kiwi")
vegetables = ("tomato", "spinach", "potato", "capsicum")
animal_products = ("ghee", "curd", "milk", "honey")
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('apple', 'blueberry', 'avocado', 'kiwi', 'tomato', 'spinach', 'potato', 'capsicum', 'ghee', 'curd', 'milk', 'honey')

In [ ]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
fruits = ("apple", "blueberry", "avocado", "kiwi")
vegetables = ("tomato", "spinach", "potato", "capsicum")
animal_products = ("ghee", "curd", "milk", "honey")
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)
print("food stuff list ", food_stuff_lt)

food stuff list  ['apple', 'blueberry', 'avocado', 'kiwi', 'tomato', 'spinach', 'potato', 'capsicum', 'ghee', 'curd', 'milk', 'honey']

In [ ]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt
#list.
food_stuff_list = ['apple', 'blueberry', 'avocado', 'kiwi', 'tomato', 'spinach', 'potato', 'capsicum', 'ghee', 'curd', 'milk', 'honey']
length = len(food_stuff_list)
mid = length//2
if mid%2 == 0:
  middle_items = food_stuff_list[mid-1 : mid+1]
else:
  middle_items = food_stuff_list[mid]
print("middle item(s) ", middle_items)

middle item(s)  ['spinach', 'potato']

In [ ]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list
food_stuff_list = ['apple', 'blueberry', 'avocado', 'kiwi', 'tomato', 'spinach', 'potato', 'capsicum', 'ghee', 'curd', 'milk', 'honey']
sliced_food_stuff_list = food_stuff_list[3:-3]
print(sliced_food_stuff_list)

['kiwi', 'tomato', 'spinach', 'potato', 'capsicum', 'ghee']

In [ ]:
# 11. Delete the food_staff_tp tuple completely
food_stuff_tp = ('apple', 'blueberry', 'avocado', 'kiwi', 'tomato', 'spinach', 'potato', 'capsicum', 'ghee', 'curd', 'milk', 'honey')
del(food_stuff_tp)
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [ ]:
# 12. Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
# nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')""
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print("Is Estonia is a nordic country? ", 'Estonia' in nordic_countries)
print("Is Iceland is a nordic country? ", 'Iceland' in nordic_countries)

Is Estonia is a nordic country?  False
Is Iceland is a nordic country?  True